@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=KoHo');

* {
	font-family: 'KoHo', sans-serif;
}

.menu ul {
	height: 50px;
	border-radius: 2px;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #696969;
}

.menu li {
	float: left;
	margin-top: 10px;
}

.menu li a {
	height: 30px;
	color: #fff;
	font-size: 18px; text-decoration : none;
	text-align: center;
	padding: 24px 26px;
	text-decoration: none;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #111;
}

.active {
	background-color: #4caf50;
	width: 50px;
}

.busca input {
	margin-top: 10px;
	float: right; 
	width: 100px;
	height: 40px;
	background-color: #fff;
	background-image: url('../_img/lupa.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 40px;
	margin-bottom: 10px;
	margin-right: 50px;
}

.busca input:hover {
	-webkit-transition: width 0.8s ease-in-out;
	transition: width 0.8s ease-in-out;
	width: 20%;
}

.corpo #conteudo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#conteudo h1 {
	font-size: 32px;
	font-style: oblique;
}

#conteudo p {
	font-size: 22px;
	text-align: left;
}


/*formulario de cadastro*/
#tag-form form{
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 400px;
}

#tag-form h1{
	text-align:center;
	font-size:32px;
	color:#696969;
}

#tag-form p{
	text-align:center;
	font-size:18px;
	color:#696969;
	margin-bottom: 20px;
}

#tag-form input{
	display:inline-block;
	width: 400px;
	margin: 20px 0;
	background: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px solid #0078ff;
}

#tag-form input[type='submit']{
	width:200px;
	height:50px;
	background-color:#696969;
	color:#fff;
	border-radius: 3px;
	margin-left: 90px;
}
/*formulário de contato*/
#contato form{
	width: 500px;
	position:absolute;
	top:50%;
	left:40%;
	transform:translate(-50%,-50%);
}
#contato form input{
	width: 400px;
	display: inline-block;
	padding: 16px 0;
	margin-bottom: 8px;
	border:none;
	border-bottom:1px solid #0078ff;
}
#contato form textarea{
	width: 500px;
	display: inline-block;
	padding: 16px 0;
	margin-bottom: 16px;
	border:none;
	border-bottom:1px solid #0078ff;
}
#contato form input[type='submit']{
	width:100px;
	background-color: #696969;
	color:#fff;
	float: right;
}
#contato form input[type='submit']:hover{
	background-color: #0078ff;
	color:#fff;
}
/*contrato*/
#contrato{
	float: right;
	margin-left: 300px;
}
#contrato input[type='checkbox']{
	border-radius: 1px solid #000;
}
/*rodapé*/
.rodape{
	background-color:#696969;
	height:60px;
	position: absolute;
	bottom: -10px;
	margin-bottom:0;
	width: 99%;
	padding: 2px;
}
.rodape ul{
	height: 20px;
	float: right;
	margin-bottom: 0;
	margin-right:50px;
}
.rodape ul li{
	display: inline-block;
}
.rodape ul li a{
	color: #fff;
	text-decoration: none;
}
/*pagina status*/
.status {
	position: absolute;
	width:500px;
	height:500px;
	top: 10%;
	left: 30%;
	transform:transition(-50%,-50%);
	background-image: url('../_img/404.jpg');
	background-position: cover;
	background-repeat: no-repeat;

}
.status p{
	font-style:italic;
	color:red;
	text-align: center;
}
.status h1{
	color: red;
	font-size: 28px;
}
.status h2{
	color:red;
	text-align: center;
	
}




















