@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=KoHo');

* {
	font-family: 'KoHo', sans-serif;
}

.menu ul {
	height: 50px;
	border-radius: 2px;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #696969;
}

.menu li {
	float: left;
	margin-top: 10px;
}

.menu li a {
	height: 30px;
	color: #fff;
	font-size: 18px; text-decoration : none;
	text-align: center;
	padding: 24px 26px;
	text-decoration: none;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #111;
}

.active {
	background-color: #4caf50;
	width: 50px;
}

.busca input {
	margin-top: 10px;
	float: right; margin-bottom : 10px;
	width: 100px;
	height: 40px;
	background-color: #fff;
	background-image: url('../_img/lupa.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 40px;
	margin-bottom: 10px;
}

.busca input:hover {
	-webkit-transition: width 0.8s ease-in-out;
	transition: width 0.8s ease-in-out;
	width: 20%;
}

.corpo #conteudo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#conteudo h1 {
	font-size: 32px;
	font-style: oblique;
}

#conteudo p {
	font-size: 22px;
	text-align: left;
}